body{
	background:#64665d;
	/*margin-top:50px;*/
	font: 15px "Trebuchet MS";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.container > * {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  align-self: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  align-self: auto;
  justify-content: space-between;
}

.sidebar {
  width: 25%;
}



.main {
  background-color: #585a51;
}
.sidebar {
  background-color: #979b88;
}